<!DOCTYPE html>
<html lang="en">

  <head>
    <title>GameEngine</title>
  </head>
  <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled">
    

    <div class="playingCards fourColours rotateHand">



    

<!-- A Full Set -->

    <% @round.each do |round|%>
    <% winner = round.player_index_winner %>
        <h1 id="full">Round <%= round.index %></h2>
        <% round.hands.each do |hand|%>
            <h2 id="full">Hand <%= hand.id %> : <%= hand.getRank %></h2>
            <h3><%= hand.index == winner ? 'Winner' : 'Loser' %></h3>


            <ul class="table">
                <% hand.cards.each do |card|%>
                <li>
                    <div class="card rank-<%= card.viewable_value %> <%= card.suit %>"><span class="rank"><%= card.viewable_value %></span><span class="suit">&<%= card.suit %>;</span></div>
                </li>

                <% end %>

            </ul>

            <ul class="table"></ul>


        <% end %>
        <ul class="table"></ul>
        <ul class="table"></ul>
        <ul class="table"></ul>
        <ul class="table"></ul>
    <% end %>

    <h2 id="full">&nbsp;</h2>
    


    <ul class="table">
    </ul>


<ul class="table">
    </ul>

    <h1 id="full">Wins by player</h1>
    <h2>Player 1: <%= @player_wins[0] %></h2>
    <h2>Player 2: <%= @player_wins[1] %></h2>


</div>
  </body>
</html>